.container {
  background: white;
  padding: 1.215rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {

  th,
  td {
    border-radius: 8px;
    padding-top: 0.25rem;
    padding-bottom: 0.2rem;
    width: 160px;
    text-align: center;
  }

  tr {
    &:hover {
      background: rgba(165, 102, 255, 0.2);
    }
  }
}

.table_head {
  background: #748ffc;
  color: white;
}

.input {
  width: 100%;
  outline: none;
  padding: 0.5rem;
  border-radius: 4px;
}