.container {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.select {
  background: #f8f9fa;
  width: 100%;
  padding: 10px;
  padding-left: 0px;
  border: none;
  outline: none;
  font-size: 1rem;
  border-bottom: 1px solid #15aabf;
  margin-bottom: -1rem;
  cursor: pointer;

  &:focus {
    background: #4c6ef5;
    color: white;
  }
}