.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.contents {
  width: 100%;
  color: #364fc7;
  padding: 15px;
  background-color: #dbe4ff;
  border-color: #bac8ff;
  border: 1px solid transparent;
  border-radius: 4px;
}