@import '@/helpers/styles/utils.scss';

.table {
  font-size: 0.95rem;
  width: 100%;
  height: 100%;
  min-width: 420px;

  tr {
    height: 165px;

    &:hover {
      background: rgba(165, 102, 255, 0.2);
    }
  }

  th,
  td {
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }

  th {
    background: #e3e0fa;
    color: #7950f2;
    width: 130px;

    &.basic {
      width: 93.3px;
    }

    &.orange {
      background: #ffa94d;
    }

    &.cyan {
      background: #3bc9db;
    }

    &.red {
      background: white;
      color: #d941c5;
    }
  }

  td {
    width: 93.3px;
    font-size: 0.9rem;
    overflow: hidden;
    text-align: center;

    &.sub {
      color: #5f3dc4;
      font-weight: bold;
    }
  }

  @include isMedium {
    margin-top: 1.5rem;
  }
}

.title {
  margin: 0.96rem;

  &.allCost {
    color: silver;
  }

  &.result {
    color: blue;
  }
}