@import '@/helpers/styles/utils.scss';

.content {
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
  text-shadow: 1px 1px 4px #9a9a9a;

  &:hover {
    text-shadow: 0.5px 0.5px;
  }

  &.soldier {
    color: $soldier;
  }

  &.reserve {
    color: $reserve;
  }

  &.general {
    color: $general;
  }

  &.cart {
    color: $soldier;
  }

  &.fronts {
    color: $menu;
  }

  &.password {
    color: $submit;
  }

  &.weddings {
    color: $employee;
  }
}